/* ---------- Color Module Styles ----------- */

/* Main background */

body { background-color:#eeeeee; }

/* Menu */

#wrap { border-top: 3px solid #29109b; }

#main-menu .menu a.active, #main-menu .menu ul a.active { background: #29109b; }

#main-menu .menu a.active-trail { background: #29109b; }

#sitename h1 a:hover, #sitename h2 a:hover { color: #29109b; }

/* Menu Hover */

#main-menu .menu a:focus,
#main-menu .menu a:hover,
#main-menu .menu a:active,
#main-menu .menu ul a:focus,
#main-menu .menu ul a:hover,
#main-menu .menu ul a:active { background: #0d05b8 }

/* Link */

a { color: #2e70b1; }

a:hover { color: #61110d; }

.links li a:hover, .field-name-field-tags a:hover { color: #61110d; }

/* Button */

.form-submit { background: #102bb8; border-color:#102bb8; }

.form-submit:hover { background: #130ca4; }